/ フッター
%footer
  #navButtons3
    %div
      #navButton1.navButton= image_tag 'keepButton.svg'
      #navButton2.navButton= image_tag 'likeButton.svg'
      #navButton3.navButton= image_tag 'commentButton.svg'
/ フッター(end)
