/ フッター
%footer
  #navButtons4
    %div
      #navButton1.navButton= link_to image_tag('cancelButton.svg'), @article
      #navButton2.navButton= image_submit_tag 'editButton.svg'
      #navButton3.navButton= image_tag 'saveButton.svg'
      #navButton4.navButton= image_submit_tag 'doneButton.svg'
/ フッター(end)
