<!-- フッター -->
<footer>
	<div id="navButtons3">
		<div>
			<div id="navButton1" class="navButton"><%= image_tag 'cancelButton.svg' %></div>
			<div id="navButton2" class="navButton"><%= image_tag 'saveButton.svg' %></div>
			<div id="navButton3" class="navButton"><%= image_tag 'nextButton.svg' %></div>
		</div>
	</div>
</footer>
<!-- フッター(end) -->