/ フッター
%footer
  #navButtons3
    %div
      #navButton1.navButton= link_to image_tag('cancelButton.svg'), articles_path
      #navButton2.navButton= image_tag 'saveButton.svg'
      #navButton3.navButton= image_submit_tag('nextButton.svg')
/ フッター(end)
