<!-- フッター -->
<footer>
	<div id="navButtons3">
		<div>
			<div id="navButton1" class="navButton"><%= image_tag 'keepButton.svg' %></div>
			<div id="navButton2" class="navButton"><%= image_tag 'likeButton.svg' %></div>
			<div id="navButton3" class="navButton"><%= image_tag 'commentButton.svg' %></div>
		</div>
	</div>
</footer>
<!-- フッター(end) -->